/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling caused by overflow */
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

.wave-divider {
  display: block;
  height: 100px;
}

a.flex.items-center:hover {
  transform: scale(1.05);
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide > div {
  width: 100%; /* Ensure the content takes up the full width */
  max-width: 100%; /* Prevents it from overflowing */
  padding: 10px; /* Add padding to avoid content touching the edges */
  box-sizing: border-box;
}

