/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.slide-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.slide-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

.wave-divider {
  display: block;
  height: 100px;
}

a.flex.items-center:hover {
  transform: scale(1.05);
}
