/* styles/globals.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevents horizontal scrolling */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.bg-white {
  background-color: #ffffff;
}

.text-center {
  text-align: center;
}

.overflow-hidden {
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.p-6 {
  padding: 1.5rem;
}

.shadow-md {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.slick-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slick-slide > div {
  width: 100%; /* Full width for mobile responsiveness */
  max-width: 100%;
  padding: 10px; /* Padding to avoid edges */
  box-sizing: border-box;
}

.slick-prev, .slick-next {
  color: #000; /* Customize arrow colors */
  z-index: 1; /* Ensure arrows are above other content */
}

.slick-dots li button:before {
  font-size: 12px; /* Dot size */
  color: #000; /* Dot color */
}

.slick-dots {
  bottom: -30px; /* Adjust position of dots */
}

@media (max-width: 600px) {
  .slick-slide > div {
    padding: 5px; /* Adjust padding for small screens */
  }
}
